{% for coding_assignment in args %}

<assignment
    title="Coding Assignment - {{ coding_assignment["title"] }}"
    due_at="{{ coding_assignment["due_at"] }}, {{ year }}, 11:59 PM"
    available_from="{{ sem_start }}, {{ year }}, 12:00 AM"
    available_to="{{ sem_end }}, {{ year }}, 11:59 PM"
    assignment_group="Example Assignments"
    points_possible="{{ coding_assignment["points"] }}">

<description>
    <include path="{{ coding_assignment["instructions"] }}" />

</description>
</assignment>

{% endfor %}