| title             | due_at                      | points | instructions                           |
|-------------------|-----------------------------|--------|----------------------------------------|
| Hello World       | {{ hello_word_due }}        | 10     | instructions/hello_world.canvas.md |
| Simple Calculator | {{ simple_calculator_due }} | 15     | instructions/simple_calc.canvas.md.xml |
| Word Count        | {{ word_count_due }}        | 20     | instructions/word_count.canvas.md.xml |