{% for module, info in args.items() %}

<page title="{{ module }}">
    For {{ module }}, you will learn about the following topics:

    ## Topics

    {% for topic in info["topics"] %}
    - {{ topic }}
    {% endfor %}

    Each topic will be covered in detail, providing you with the necessary knowledge and skills to excel in this area.

    Make sure to review the materials and complete any assignments related to these topics.

    ## Additional Resources

    {% for resource in info["resources"] %}
    - {{ resource }}
    {% endfor %}

    ## Assignments

    You will have the following assignments related to this module:

    {% for assignment in info["assignments"] %}
    - {{ assignment }}
    {% endfor %}
</page>

{% endfor %}