{% for key, value in args.items() %}

# {{ key }} - {{ global_args["course"] }} {{ global_args["term"] }} {{ global_args["year"] }}

{{ value["description"] }}

## Due At

{{ value["due"] }}, {{ global_args["year"] }}

## Video Info

{% for video in value["Video Info"] %}
- **[{{ video["name"] }}]({{ video["link"] }})** - {{ video["description"] }}
{% endfor %}

## Assigned Questions

{% for question in value["Assigned Questions"] %}
- {{ question }}
{% endfor %}

{% endfor %}
