| Title | Description        | Due Date       |
|-------|--------------------|----------------|
| HW 1  | Build a calculator | {{ HW_1_DUE }} |
| HW 2  | Wordle             | {{ HW_2_DUE }} |
| HW 3  | Connections        | {{ HW_3_DUE }} |