<assignment>
<template-arguments>

| Day_Name | Day_Title                 | Video_names                             | Video_links              | Code_Buddy_ID | Practice_displays              | Practice_links                                                                      | Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|----------|---------------------------|-----------------------------------------|--------------------------|---------------|--------------------------------|-------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Day 1    | Getting Started           | My Introduction; Introduction to CS 110 | 14WS_bHXm_M; uVlKzVlNbjM |               | Lab 0; Homework 0              | labs/lab0-getting-started; homework/homework0-getting-started                       | Welcome to class!  We will have these assignments for each day.  Each will have a video, a lab and a homework.  These are due by 8 am on the next Tuesday or Thursday. After you complete each homework and project, you should fill out the assignment survey (for extra credit). The assignment survey helps us know how well you are understanding the material and how the homework and projects are going.                                                                                                                                                        |
| Day 2    | Introduction to Bit       | Introduction to Bit                     | 7Lo8A69q9gA              | 1240          | Lab 1a; Homework 1a            | labs/lab1a-introduction-to-bit; homework/homework1a-introduction-to-bit             | This week we are adding a CodeBuddy experience. This will give you hands on practice with concepts that are explained in the lecture video and will help you know quickly if you are understanding the material. It is also a great preparation for the midterm and final.  At the end of the semester, I will assign up to 2 extra credit points based on the percent of the CodeBuddy material you have completed.  Here's how you <a href="https://docs.google.com/document/d/1bQ5p47oM5JoO_NqOw9ZvuG1WMS9M12SqkVcEGEpNYSQ/edit">set up your CodeBuddy account</a>. |
| Day 3    | Functions                 | Functions                               | w7FnI0g1KhM              | 1241          | Lab 1b; Homework 1b            | labs/lab1b-functions; homework/homework1b-functions                                 |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 4    | While                     | While                                   | Agu4wj-HFpU              | 1242          | Lab 1c; Homework 1c            | labs/lab1c-while; homework/homework1c-while; projects/project1-bit                  |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 5    | If and Else               | If and Else                             | ZZkPV_4ehaY              | 1243          | Lab 2a; Homework 2a            | labs/lab2a-if; homework/homework2a-if                                               |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 6    | Conditions, And, Or       | Conditions, And, Or                     | O5EEWG7N7a0              | 1244          | Lab 2b, Homework 2b            | labs/lab2b-conditions; homework/homework2b-conditions                               |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 7    | Decomposition             | Decomposition                           | Ji1fnZzXk18              | 1245          | Lab 2c, Homework 2c            | labs/lab2c-decomposition; homework/homework2c-decomposition                         |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 8    | Variables                 | Variables                               | 9peFLp_sq2Y              | 1246          | Lab 2d, Homework 2d, Project 2 | labs/lab2d-variables; homework/homework2d-variables; projects/project2-bit-problems |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 9    | Interactive Programs      | Interactive Programs                    | DcfVBwyR2Tk              | 1247          | Lab 3a; Homework 3a            | labs/lab3a-interactive-programs; homework/homework3a-interactive-programs           |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 10   | Input Loops               | Input Loops                             | 3AYM7G7hqUY              | 1248          | Lab 3b; Homework 3b            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 11   | Lists                     | Lists                                   | GPs5m9yL21g              | 1249          | Lab 3c; Homework 3c            | labs/lab3c-lists; homework/homework3c-lists                                         |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 12   | List Patterns             | List Patterns                           | f6-Zmv8gf9k              | 1250          | Lab 3d; Homework 3d            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 13   | Tuples                    | Tuples                                  | 6j1KRD5fmAg              | 1251          | Lab 3e; Homework 3e            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 14   | Structured Data           | Structured Data                         | fIxeQQwmnhA              | 1252          | Lab 3f; Homework 3f; Project 3 | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 15   | Strings                   | Strings                                 | gUOAtWqsIBI              | 1253          | Lab 4a; Homework 4a            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 16   | Substrings                | Substrings                              | ifWEKC2TtnQ              | 1254          | Lab 4b; Homework 4b            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 17   | Terminal                  | Terminal and program arguments          | kZ0-Y-KgG1w              | 1255          | Lab 4c; Homework 4c            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 18   | Reading and writing files | Reading and writing files               | K-ZXXj943o0              | 1256          | Lab 4d; Homework 4d            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 19   | Split and Join            | Split and Join                          | jpAkeNBOgXY              | 1257          | Lab 4e; Homework 4e            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 20   | Random and Coiteration    | Random and Coiteration                  | UwHlEP7T3Yc              | 1258          | Lab 4f; Homework 4f; Project 4 | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 21   | Dictionaries              | Dictionaries                            | ZQ6T12m21Nk              | 1259          | Lab 5a; Homework 5a            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 22   | Building dictionaries     | Building dictionaries                   | gGO2_oxlJNg              | 1260          | Lab 5b; Homework 5b            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 23   | Counting                  | Counting                                | 7nzUtOvm1mE              | 1261          | Lab 5c; Homework 5c            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 24   | Grouping                  | Grouping                                | CutHbXTMDos              | 1262          | Lab 5d; Homework 5d; Project 5 | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 25   | Indexing                  | List indexing, range, mutability        | ilZLoRGmjf4              | 1263          | Lab 6a; Homework 6a            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| Day 26   | Grids                     | Grids                                   | -1Ax55jFjV8              | 1264          | Lab 6b; Homework 6b            | labs/lab3b-input-loops; homework/homework3b-input-loops                             |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |

</template-arguments>

<settings title="{{ Day_Name }}" 
    submission_types="not_graded"
    assignment_group="Days"
    only_visible_to_overrides="True" >
</settings>

<description>
    <div id="kl_wrapper_3" class="kl_flat_sections variation_2 kl_wrapper">
        <div id="kl_banner">
            <h2 class=""><span id="kl_banner_left" class="kl_current_module_name">-</span> <span id="kl_banner_right" class="" style="margin-top: 5px; padding-top: 12px;">{{Day_Name}}</span></h2>
        </div>
        {{ Description}}
        <div id="kl_custom_block_0" class="">
            <div class="bs-container" style="margin-top: 15px; padding-right: 5px; padding-left: 5px; margin-bottom: 5px;">
                <div class="bs-row">
                    {% for name, link in zip(split_list(Video_names), split_list(Video_links)) %}
                    <div class="bs-col-md kl_solid_border kl_border_radius_5" style="border-width: 7px; border-color: #002e5d; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;">
                        <h4 class="kl_border_radius_5" style="color: #ffffff; text-align: center; margin-top: 15px; background-color: #002e5d; border-color: #002e5d;"><span class="" style="font-size: 18pt; background-color: #002e5d; color: #ffffff; border-color: #002e5d; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;">Videos</span></h4>
                        <p><a class="ytp-share-panel-link ytp-no-contextmenu" title="Share link" href="https://youtu.be/{{ link }}" target="_blank" rel="noopener" aria-label="Share link">{{ name }}</a></p>
                    </div>
                    {% endfor %}
                    {% if Code_Buddy_ID %}
                    <div class="bs-col-md kl_solid_border kl_border_radius_5" style="border-width: 7px; border-color: #002e5d; padding-bottom: 20px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;">
                        <h4 class="kl_border_radius_5" style="color: #ffffff; text-align: center; margin-top: 15px; background-color: #002e5d; border-color: #002e5d;"><span class="" style="font-size: 18pt; background-color: #002e5d; color: #ffffff;">CodeBuddy</span></h4>
                        <p><a class="inline_disabled" href="https://codebuddy.byu.edu/assignment/31/{{ Code_Buddy_ID }}" target="_blank" rel="noopener">{{ Code_Buddy_Display }}</a></p>
                    </div>
                    {% else %}{% endif %}
                    <div class="bs-col-md kl_solid_border kl_border_radius_5" style="border-width: 7px; border-color: #002e5d; margin-left: 10px; color: #000000; margin-right: 10px; margin-bottom: 10px;">
                        <h4 class="kl_border_radius_5" style="color: #ffffff; text-align: center; margin-top: 15px; background-color: #002e5d; border-color: #002e5d;"><span class="" style="font-size: 18pt; background-color: #002e5d; color: #ffffff;">Practice</span></h4>
                        {% for display, link in zip(split_list(Practice_displays), split_list(Practice_links)) %}
                        <p><a class="underline decoration-lightblue" href="https://fall2023.byucs110.org/{{ link }}"> {{Day_Title}} - {{ display }}</a><span>&nbsp;</span></p>
                        {% endfor %}
                        <p><a class="underline decoration-lightblue" href="https://byu.az1.qualtrics.com/jfe/form/SV_8uJA1ajIcubxzwi?term=20233">Assignment Completion Quiz</a><span>&nbsp;</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p class="kl_module_progress_completion" style="color: #ffffff; background-color: #002e5d;">&nbsp;</p>
    <p>&nbsp;</p>

</description>
</assignment>


<override>
<template-arguments>

| Day_Name | Due_At |
|----------|--------|
| Day 1    | Sep 5  |
| Day 2    | Sep 7  |
| Day 3    | Sep 12 |
| Day 4    | Sep 14 |
| Day 5    | Sep 19 |
| Day 6    | Sep 21 |
| Day 7    | Sep 26 |
| Day 8    | Sep 28 |
| Day 9    | Oct 3  |
| Day 10   | Oct 5  |
| Day 11   | Oct 10 |
| Day 12   | Oct 12 |
| Day 13   | Oct 17 |
| Day 14   | Oct 19 |
| Day 15   | Oct 31 |
| Day 16   | Nov 2  |
| Day 17   | Nov 7  |
| Day 18   | Nov 9  |
| Day 19   | Nov 14 |
| Day 20   | Nov 16 |
| Day 21   | Nov 28 |
| Day 22   | Nov 30 |
| Day 23   | Dec 5  |
| Day 24   | Dec 7  |
| Day 25   | Dec 12 |
| Day 26   | Dec 14 |


</template-arguments>
<section>How to Program (TESTING)</section>
<assignment title="{{ Day_Name }}" due_at="{{ Due_At }}, 2023, 11:59 PM"></assignment>
</override>