<assignment
    id="demo assignment"
    title="{{ demo_assignment_title }}"
    due_at="Dec 31, 2025, 11:59 PM"
    available_from="Jan 01, 2025, 11:59 PM"
    available_to="Dec 31, 2025, 11:59 PM"
    assignment_group="Assignments">

<description>
    This is an update of the demo assignment content.

</description>
</assignment>