<page id="quarto slides demo" title="Quarto Slides Demo">

This page demonstrates the `&lt;quarto-slides&gt;` tag.

The source file is `demo-course/slides/example-slides.qmd`.

<quarto-slides
    path="slides/example-slides.qmd"
    name="example-slides.html"
    canvas_folder="Slides" />

</page>
