<page id="demo mermaid" title="Mermaid Demo">
    # Fenced Mermaid Diagrams

    ```mermaid
    flowchart LR
        Start --> Middle --> End
    ```

    You can also use attributes:

    ```mermaid {: .my-class #my-id alt="Flow Chart" name="start-middle-end" class="diagram"}
    flowchart LR
        Start --> Middle --> End
    ```

    # Manual Mermaid Diagram

    <mermaid alt="Test Diagram" class="diagram" theme="forest">
        graph TD
            A[Start] --> B{Is it working?}
            B -->|Yes| C[Great!]
            B -->|No| D[Debug]
            D --> A
    </mermaid>

    # Included from file

    <mermaid path="external-diagram.mmd" canvas_folder="diagrams" alt="Process Flow" class="diagram"/>
</page>
