{% set type = "hw" %}
{% set content = "hw_template_args.csv" %}
{% set global_content = "global_template_args.csv" %}

<quiz
    title="Homework 0 - Getting Started"
    due_at="{{ Due_At }}, {{ Year }}, 11:59 PM"
    available_from="{{ Start }}, {{ Year }}, 12:00 AM"
    available_to="{{ Late_Due }}, {{ Year }}, 11:59 PM"
    points_possible="30"
    assignment_group="Homework"
    shuffle_answers="True"
    time_limit="240"
    allowed_attempts="1"
    show_correct_answers_at="{{ Late_Due }}, {{ Year }}, 11:59 PM">

<description>
    Use [the course website](https://byucs110.org/) to navigate to the guide for the first day. Follow the instructions. Then take this quiz.

    You can take this quiz as many times as you want.
</description>

<question type="true-false">
    <correct>
        I have read and understood [the guide about the file system](https://{{ Term }}.byucs110.org/guide/getting-started/file-system/)
    </correct>
</question>

<question type="true-false">
    <correct>
    I have joined the course Discord server and accessed it from my computer: [https://discord.com/login](https://discord.com/login)

    (Using the Discord app on your phone is optional.)
    </correct>
</question>

<question type="true-false">
    <correct>
        I have logged in to the CS 110 TA Help Queue.
    </correct>
</question>
</quiz>

