{% set type = "hw" %}
{% set content = "../template-args/hw_template_args.csv" %}

<assignment
    title="Homework {{ Id }} - {{ Title }}"
    due_at="{{ Due_At }}, {{ Year }}, 8:00 AM"
    available_from="{{ Start_Date }}, {{ Year }}, 12:00 AM"
    available_to="{{ Late_Due }}, {{ Year }}, 11:59 PM" 
    points_possible="30" 
    assignment_group="Homework" 
    submission_types="external_tool"
    external_tool_tag_attributes="url=https://lti.int.turnitin.com/launch/gs-proxy">

<description>

Complete the homework by following [these instructions](https://{{ Term }}.byucs110.org/homework/homework{{ Id }}-{{ Website_URL }})

Then upload your `.py` files to Gradescope.

</description>
</assignment>
