<div>
    <course-settings
        name='Bean Lab Testing'
        code='Testing'
    />

    <assignment-groups>
        <group name="Assignments" weight="50" />
        <group name="Quizzes" weight="50" />
    </assignment-groups>

    <include path="demo-assignment.canvas.md.xml.jinja" />
    <include path="demo-quiz.canvas.md.xml.jinja" />
    <include path="demo-page.canvas.md.xml.jinja" />

    <module id="External Tool Module" title="External Tools">
{#        <item type="File" title="Demo File" indent=" 1" />#}
        <item type="SubHeader"
              id="statement"
              title="This is a sub header"/>
        <item type="ExternalURL"
              id="demo-link"
              title="Demo Link"
              external_url="https://www.google.com/search?q=google+snake&amp;sourceid=chrome&amp;ie=UTF-8" />
    </module>

    <module id="Assignment Module" title="Assignments">
        {# TODO: Do we to let <item> tags have `id` attributes? Since we just reference the item by its name #}
        <item type="assignment" content_id="demo assignment" indent="1" />
    </module>

    <module id="Quiz Module" title="Quizzes">
        <item type="quiz" content_id="demo quiz" indent="1" />
    </module>

    <module id="Page Module" title="Pages">
        <item type="page" content_id="demo page" indent="1" />
    </module>
</div>
