<assignment
    id="demo assignment"
    title="{{ demo_assignment_title }}"
    due_at="Dec 31, 2025, 11:59 PM"
    available_from="Jan 01, 2025, 11:59 PM"
    available_to="Dec 31, 2025, 11:59 PM"
    assignment_group="Assignments">

<description>
    > This is a demo assignment to test the integration of assignment features in Canvas.

    # Code Example

    ```python
    def hello_world():
        print("Hello, world!")
    ```

    # Lists

    - Item 1
    - Item 2
        - Subitem 2.1
        - Subitem 2.2
    - Item 3
        - `Inline code example`

    # Links

    For more information, visit the [Canvas LMS website](https://www.instructure.com/canvas/).

    # MathJAX?

    Here is an example of an inline equation: \(E = mc^2\)

    And here is a displayed equation:
    \[
    \int_{a}^{b} x^2 \,dx
    \]
</description>
</assignment>