/* GitHub Dark syntax highlighting CSS with !important to override Canvas styles */
pre { line-height: 125% !important; margin: 0 !important; }
.highlight pre { background: #0d1117 !important; color: #E6EDF3 !important; padding: 1em !important; border-radius: 6px !important; overflow-x: auto !important; margin: 0 !important; border: none !important; }
.highlight { background: #0d1117 !important; color: #E6EDF3 !important; padding: 0 !important; border-radius: 6px !important; overflow-x: auto !important; }
td.linenos .normal { color: #6e7681 !important; background-color: #0d1117 !important; padding-left: 5px !important; padding-right: 5px !important; }
span.linenos { color: #6e7681 !important; background-color: #0d1117 !important; padding-left: 5px !important; padding-right: 5px !important; }
td.linenos .special { color: #e6edf3 !important; background-color: #6e7681 !important; padding-left: 5px !important; padding-right: 5px !important; }
span.linenos.special { color: #e6edf3 !important; background-color: #6e7681 !important; padding-left: 5px !important; padding-right: 5px !important; }
.highlight .hll { background-color: #6e7681 !important; }
.highlight .c { color: #8B949E !important; font-style: italic !important; } /* Comment */
.highlight .err { color: #F85149 !important; } /* Error */
.highlight .esc { color: #E6EDF3 !important; } /* Escape */
.highlight .g { color: #E6EDF3 !important; } /* Generic */
.highlight .k { color: #FF7B72 !important; } /* Keyword */
.highlight .l { color: #A5D6FF !important; } /* Literal */
.highlight .n { color: #E6EDF3 !important; } /* Name */
.highlight .o { color: #FF7B72 !important; font-weight: bold !important; } /* Operator */
.highlight .x { color: #E6EDF3 !important; } /* Other */
.highlight .p { color: #E6EDF3 !important; } /* Punctuation */
.highlight .ch { color: #8B949E !important; font-style: italic !important; } /* Comment.Hashbang */
.highlight .cm { color: #8B949E !important; font-style: italic !important; } /* Comment.Multiline */
.highlight .cp { color: #8B949E !important; font-weight: bold !important; font-style: italic !important; } /* Comment.Preproc */
.highlight .cpf { color: #8B949E !important; font-style: italic !important; } /* Comment.PreprocFile */
.highlight .c1 { color: #8B949E !important; font-style: italic !important; } /* Comment.Single */
.highlight .cs { color: #8B949E !important; font-weight: bold !important; font-style: italic !important; } /* Comment.Special */
.highlight .gd { color: #FFA198 !important; background-color: #490202 !important; } /* Generic.Deleted */
.highlight .ge { color: #E6EDF3 !important; font-style: italic !important; } /* Generic.Emph */
.highlight .ges { color: #E6EDF3 !important; font-weight: bold !important; font-style: italic !important; } /* Generic.EmphStrong */
.highlight .gr { color: #FFA198 !important; } /* Generic.Error */
.highlight .gh { color: #79C0FF !important; font-weight: bold !important; } /* Generic.Heading */
.highlight .gi { color: #56D364 !important; background-color: #0F5323 !important; } /* Generic.Inserted */
.highlight .go { color: #8B949E !important; } /* Generic.Output */
.highlight .gp { color: #8B949E !important; } /* Generic.Prompt */
.highlight .gs { color: #E6EDF3 !important; font-weight: bold !important; } /* Generic.Strong */
.highlight .gu { color: #79C0FF !important; } /* Generic.Subheading */
.highlight .gt { color: #FF7B72 !important; } /* Generic.Traceback */
.highlight .g-Underline { color: #E6EDF3 !important; text-decoration: underline !important; } /* Generic.Underline */
.highlight .kc { color: #79C0FF !important; } /* Keyword.Constant */
.highlight .kd { color: #FF7B72 !important; } /* Keyword.Declaration */
.highlight .kn { color: #FF7B72 !important; } /* Keyword.Namespace */
.highlight .kp { color: #79C0FF !important; } /* Keyword.Pseudo */
.highlight .kr { color: #FF7B72 !important; } /* Keyword.Reserved */
.highlight .kt { color: #FF7B72 !important; } /* Keyword.Type */
.highlight .ld { color: #79C0FF !important; } /* Literal.Date */
.highlight .m { color: #A5D6FF !important; } /* Literal.Number */
.highlight .s { color: #A5D6FF !important; } /* Literal.String */
.highlight .na { color: #E6EDF3 !important; } /* Name.Attribute */
.highlight .nb { color: #E6EDF3 !important; } /* Name.Builtin */
.highlight .nc { color: #F0883E !important; font-weight: bold !important; } /* Name.Class */
.highlight .no { color: #79C0FF !important; font-weight: bold !important; } /* Name.Constant */
.highlight .nd { color: #D2A8FF !important; font-weight: bold !important; } /* Name.Decorator */
.highlight .ni { color: #FFA657 !important; } /* Name.Entity */
.highlight .ne { color: #F0883E !important; font-weight: bold !important; } /* Name.Exception */
.highlight .nf { color: #D2A8FF !important; font-weight: bold !important; } /* Name.Function */
.highlight .nl { color: #79C0FF !important; font-weight: bold !important; } /* Name.Label */
.highlight .nn { color: #FF7B72 !important; } /* Name.Namespace */
.highlight .nx { color: #E6EDF3 !important; } /* Name.Other */
.highlight .py { color: #79C0FF !important; } /* Name.Property */
.highlight .nt { color: #7EE787 !important; } /* Name.Tag */
.highlight .nv { color: #79C0FF !important; } /* Name.Variable */
.highlight .ow { color: #FF7B72 !important; font-weight: bold !important; } /* Operator.Word */
.highlight .pm { color: #E6EDF3 !important; } /* Punctuation.Marker */
.highlight .w { color: #6E7681 !important; } /* Text.Whitespace */
.highlight .mb { color: #A5D6FF !important; } /* Literal.Number.Bin */
.highlight .mf { color: #A5D6FF !important; } /* Literal.Number.Float */
.highlight .mh { color: #A5D6FF !important; } /* Literal.Number.Hex */
.highlight .mi { color: #A5D6FF !important; } /* Literal.Number.Integer */
.highlight .mo { color: #A5D6FF !important; } /* Literal.Number.Oct */
.highlight .sa { color: #79C0FF !important; } /* Literal.String.Affix */
.highlight .sb { color: #A5D6FF !important; } /* Literal.String.Backtick */
.highlight .sc { color: #A5D6FF !important; } /* Literal.String.Char */
.highlight .dl { color: #79C0FF !important; } /* Literal.String.Delimiter */
.highlight .sd { color: #A5D6FF !important; } /* Literal.String.Doc */
.highlight .s2 { color: #A5D6FF !important; } /* Literal.String.Double */
.highlight .se { color: #79C0FF !important; } /* Literal.String.Escape */
.highlight .sh { color: #79C0FF !important; } /* Literal.String.Heredoc */
.highlight .si { color: #A5D6FF !important; } /* Literal.String.Interpol */
.highlight .sx { color: #A5D6FF !important; } /* Literal.String.Other */
.highlight .sr { color: #79C0FF !important; } /* Literal.String.Regex */
.highlight .s1 { color: #A5D6FF !important; } /* Literal.String.Single */
.highlight .ss { color: #A5D6FF !important; } /* Literal.String.Symbol */
.highlight .bp { color: #E6EDF3 !important; } /* Name.Builtin.Pseudo */
.highlight .fm { color: #D2A8FF !important; font-weight: bold !important; } /* Name.Function.Magic */
.highlight .vc { color: #79C0FF !important; } /* Name.Variable.Class */
.highlight .vg { color: #79C0FF !important; } /* Name.Variable.Global */
.highlight .vi { color: #79C0FF !important; } /* Name.Variable.Instance */
.highlight .vm { color: #79C0FF !important; } /* Name.Variable.Magic */
.highlight .il { color: #A5D6FF !important; } /* Literal.Number.Integer.Long */