{% set global = "../global_template_args.json" %}
{% set args = "reading_quiz_template_args.csv" %}
{% set templates = "../demo_course/public-files/template-material/reading-quiz-templates" %}

<foo>
</foo>
