<assignment
    title="Test of the new jinja processor">

<description>

This is stuff before global args

{{ Global_One }}

{{ Global_Two }}

This is stuff before args

{{ Args_One }}

{{ Args_Two }}

This is things ending

</description>

</assignment>